/* 
    Document   : print_cert_style
    Created on : Jun 19, 2013, 10:20:54 AM
    Author     : soma_das
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

table {
    width: 100%;
    text-align: center;
    color: black;
    border: white;
}
td {
    border-color: white;
}

